common/                 @apacy-mdbms/qp-Bash @apacy-mdbms/sm-ASM @Aapacy-mdbms/qo-JakselScript @apacy-mdbms/ccm-Lua @apacy-mdbms/frm-R

query-processor/        @apacy-mdbms/qp-Bash
storage-manager/        @apacy-mdbms/sm-ASM
query-optimization/     @apacy-mdbms/qo-JakselScript
concurrency-control/    @apacy-mdbms/ccm-Lua
failure-recovery/       @apacy-mdbms/frm-R
