common/                 @Apacy-Supergroup/qp-Bash @Apacy-Supergroup/sm-ASM @Apacy-Supergroup/qo-JakselScript @Apacy-Supergroup/ccm-Lua @Apacy-Supergroup/frm-R

query-processor/        @Apacy-Supergroup/qp-Bash
storage-manager/        @Apacy-Supergroup/sm-ASM
query-optimization/     @Apacy-Supergroup/qo-JakselScript
concurrency-control/    @Apacy-Supergroup/ccm-Lua
failure-recovery/       @Apacy-Supergroup/frm-R